.UnsplashPhoto{
    height:800px;
    width: 100%;
    position: relative;
    background: url('https://images.unsplash.com/photo-1504988102213-007a5ff9d3fa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=220fad68d8a3ca3b2c3aa47aae6936a8') ;
    background-size: cover;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        //thanks to https://cssgradient.io/
        background-image:linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(254,254,254,0.9) 17%, rgba(255,255,255,0.5525560566023284) 25%, rgba(255,255,255,0) 100%);
        opacity: 1; 
      }

    //#endrights{
        //position:absolute;
       // bottom: 0px;
       // padding:3px;
        //right:0px;
        //color:rgba(#535353,0.9);
    //}

    a{
        position:absolute;
        bottom:0px;
        left:0px;

        background-color:black;
        color:white;
        text-decoration:none;
        padding:4px 6px;
        font-family:BlinkMacSystemFont,Helvetica, Ubuntu, Roboto, Noto, Arial, sans-serif;
        font-size:12px;
        font-weight:bold;
        line-height:1.2;
        display:inline-block;
        border-radius:3px;
        margin: 0px 0px 5px 5px;
    }

    span{
        display:inline-block;
        padding:2px 3px;

        svg{
            height:12px;
            width:auto;
            position:relative;
            vertical-align:middle;
            top:-1px;
            fill:white;
        }
    }
}