.Nav-button {
  text-decoration: none !important;
  padding: 20px;
  display: inline-block;
  overflow: hidden;
  position: relative; }
  .Nav-button .Nav-button-text {
    z-index: 7;
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    color: #3ad1ff;
    transition: color 0.5s;
    transition-timing-function: cubic-bezier(0.12, 0.2, 0.25, 1.16); }

.Nav-button:hover .Nav-button-text {
  color: white; }

.Nav-button:after {
  content: '';
  width: 130%;
  height: 130%;
  background: inherit;
  position: absolute;
  left: -5px;
  top: -5px;
  transition: box-shadow 1.2s;
  transition-timing-function: cubic-bezier(0.12, 0.2, 0.25, 1.16);
  box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0);
  filter: blur(10px); }

.Nav-button:hover:after {
  content: '';
  width: 130%;
  height: 130%;
  background: inherit;
  position: absolute;
  left: -5px;
  top: -5px;
  box-shadow: inset 0 0 0 50px rgba(58, 209, 255, 0.9);
  filter: blur(30px);
  z-index: 5; }

.Navbar {
  background-color: white; }

.AboutMe {
  background-color: #161616;
  margin-left: 0px !important;
  margin-right: 0px !important; }

.AboutMe-Photo-container {
  padding: 20px; }

#AboutMe-c {
  padding-right: 0px; }

.AboutMe-Photo {
  border-radius: 100%;
  border: 5px solid white;
  width: 65%;
  height: auto;
  margin: auto;
  left: 50%;
  top: 50%; }

.AboutMe-Quote {
  color: white;
  padding: 15px;
  font-size: 1em; }

.AboutMe-BigQuotes {
  font-size: 5em;
  font-weight: 400; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility; }

.splash {
  position: relative;
  width: 100%;
  height: 600px; }

.splash-overlay, .splash-video {
  position: absolute;
  margin: 0px;
  padding: 0px;
  top: 0px;
  left: 0px; }

.splash-overlay {
  z-index: 10;
  height: 100%;
  width: 100%; }

.splash-svg {
  width: 100%;
  height: 100%; }

.splash-background {
  fill: white;
  width: 100%;
  height: 100%; }

.splash-text {
  text-anchor: middle;
  font-weight: 900;
  letter-spacing: -4px;
  font-size: 12em;
  font-family: "Brush Script MT","Century Gothic",'Open Sans','Papyrus', sans-serif;
  height: 100%;
  width: 100%; }

.splash-masker {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  mask: url(#splash-mask);
  fill: white; }

.splash-video {
  height: 100%;
  width: 100%;
  overflow: hidden; }

.splash-bg-video {
  width: 100% !important;
  height: auto !important;
  left: 50%;
  position: absolute;
  top: 40%; }

/*

\log _{{{\sqrt[ {\varphi }]{\varphi }}}}(\varphi )=\varphi   golden dragon 

julia set 2

2D DLA Cluster




*/
.UnsplashPhoto {
  height: 800px;
  width: 100%;
  position: relative;
  background: url("adrian-226109-unsplash.5793df13.jpg") center center no-repeat;
  background-size: cover; }
  .UnsplashPhoto:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(#ffffff, rgba(255, 255, 255, 0));
    opacity: 1; }
  .UnsplashPhoto #endrights {
    position: absolute;
    bottom: 0px;
    padding: 3px;
    right: 0px;
    color: rgba(83, 83, 83, 0.9); }
  .UnsplashPhoto a {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 4px 6px;
    font-family: BlinkMacSystemFont,Helvetica, Ubuntu, Roboto, Noto, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    display: inline-block;
    border-radius: 3px; }
  .UnsplashPhoto span {
    display: inline-block;
    padding: 2px 3px; }
    .UnsplashPhoto span svg {
      height: 12px;
      width: auto;
      position: relative;
      vertical-align: middle;
      top: -1px;
      fill: white; }

body {
  margin: 0;
  padding: 0; }
