<div class="splash">
    <div class="splash-overlay">
        <svg class="splash-svg">
            <defs>
                <mask class="splash-mask" id="splash-mask" x="0" y="0">
                    <rect class="splash-background" x="0" y="0" height="100%" width="100%"></rect>
                    <text class="splash-text" x="50%" y="10%" dy="50%">Michael</text>
                </mask>
            </defs>
            <rect class="splash-masker" x="0" y="0" height="100%" width="100%" style="fill: rgb(4, 7, 25);"></rect>
        </svg>
    </div>
    <div class="splash-video">
        <div class="splash-bg-video" id="splash-paralax" style="width: 640px; height: 360px;">
            <video src="https://michael-naguib.github.io/splash-video-3.mp4" preload="auto" autoplay="" loop="" style="width: 100%; height: 100%;"></video>
        </div>
    </div>
</div>