// Forenote: TL;DR I commented way too much... be more minimalist in the future... this code is just hard to read now

//Variables:
	// The fill color of the mask~ must be rgb
	$splashMaskFill: rgb(4,7,25);//rgb(40,44,52);//rgb(255,255,255);

	//The height of the entire component 'splash' ~be sure to account for video and text heights
	$splashHeight: 500px;

// Items are in order as they appear top down in splash.pug or are inherent to the document
html {
	//Enhance the resolution of all texts but ~~ more computation~~
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizelegibility;
}
.splash{
	
	//enables overlay: needed for the child's z-index  prop
	position: relative;
	
	//Size!!!! Set the component's height ... make sure to account for the svg text and video size
	width: 100%;
	height:$splashHeight;
	overflow: hidden;
	
 }

.splash-overlay, .splash-video{
	
	//set them both 'absolute' to parent element ~both have same parent
	position:absolute;
	
	//remove any default margin stylings and remove default padding
	margin: 0px;
	padding: 0px;
	
	//position in the upper left corner for both
	top: 0px;
	left: 0px;
}
.splash-overlay{
	
	//set it on top
	z-index:10;
	
	//size ~ same as parent
	height:100%;
	width:100%;
	
}
.splash-svg{
	//size ~same as parent
	width:100%;
	height:100%;
}
.splash-mask{
	// is the same element as #splash-mask
}
#splash-mask{
	// is the same element as .splash-mask
}//~IS AN ID NOT A DUPLICATE OF THE ABOVE
.splash-background{
	//friendly note: x,y,dy are not css so they must be defined inline!! 
	//Weird this is the fill but changing the values from anything but pure white decreases the opacity of $splashMaskFill
	fill:rgb(255,255,255);
	
	//size~same as parent
	width:100%;
	//width:auto;
	height:100%;
	//height:auto;
}
.splash-text{
	//====== Cordinate Plane =====
	//friendly note: x,y,dy are not css so they must be defined inline!!  dy="1.35em"
	//align the text at the center of the page (horozontially)
	text-anchor:middle;
	//align the text at the center of the page (vertically)
	//alignment-baseline:middle;
	//====== Font ========
	//Set the font to be very BOLD!!!!!
	font-weight:900;

	//fix so the letters do appear far appart because of default stylings
	letter-spacing: -5px;
	//define the font size (very large but relativly responsive hence em)
	font-size:1300%;
	// set the font and its backup
	font-family: "Brush Script MT","Century Gothic",'Open Sans','Papyrus', sans-serif;
	
	//height:100%;
	//width: 100%;
}
.splash-masker{
	//Set the origin cordinates for the rectangle
	x:0;
	y:0;
	
	//Fill the full space of the parent
	width:100%;
	height:100%;
	
	//set the mask which enables the transparent text
	mask:url(#splash-mask);
	
	//The fill color for the mask in rgb format!!!!
	//fill:$splashMaskFill;
		
}
.splash-video{
	
	//Fill the target space
	height:100%;
	width:100%;
	
	//fix the 1px overflow of .bv-video
	overflow:hidden;
}
.splash-bg-video{
	
	//preserve aspect ratio and become full size pozible clipping height to preserve ratio
	//for some reason this is buggy~ if the page loads small screensize then is resized larger the overlay does not correct~ opposite does not hold...
	width:100% !important; 
	height:auto !important;
	//margin:auto
	//Center the video at the center of .splash-video so that it is underneath the transparent text
	//left: 50%;
    position: absolute;
    //top: 40%;
    //transform: translate(-50%, -50%); !!! this is done in index.jsx as a paralax effect!!!! 
	//Different settings in order to make sure the video does not go past the text may be needed: index.jsx splashDoParalax paralaxRate
	//the settings autoplay & loop & muted are set as true as an inline attribute in splash.pug 
} 


//Ideas for the snowflake design~~

/*

\log _{{{\sqrt[ {\varphi }]{\varphi }}}}(\varphi )=\varphi   golden dragon 

julia set 2

2D DLA Cluster




*/