@import '../extra/variables';

.Nav-button{
    text-decoration:none !important;
    padding:20px;
    display:inline-block;
    overflow:hidden;
    position: relative;
    

    .Nav-button-text{
        z-index:7;
        display:block;
        position: relative;
        height:100%;
        width: 100%;
        color:$color-l-accent;
        transition:color 0.5s;
        transition-timing-function: cubic-bezier(.12,.2,.25,1.16);;
    }

}

.Nav-button:hover .Nav-button-text{
    color:white;
}


.Nav-button:after{
    content: '';
    width: 130%;
    height: 130%;
    background: inherit; 
    position: absolute;
    left:-5px;
    top:-5px;  
    transition: box-shadow 1.2s;
    transition-timing-function: cubic-bezier(.12,.2,.25,1.16);;
    box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.0);
    filter: blur(10px);
}
   
.Nav-button:hover:after{
    content: '';
    width: 130%;
    height: 130%;
    background: inherit; 
    position: absolute;
    left:-5px;
    top:-5px;  
    box-shadow: inset 0 0 0 50px rgba($color-l-accent,0.9);
    filter: blur(30px);
    z-index: 5;
}
