@import './node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';

.Nav-Nav{
    display: inline-block;
    margin: 10px;
    overflow:hidden;
    border: 0 !important;

}

//remove dotted border
.Nav-Nav::-moz-focus-inner {
    border: 0 !important;
}
.Nav-Nav:focus{
    outline: 0;
}
  
  