
// Font Families
$title-font-stack:"";
$accent-font-stack:"";
$plain-font-stack:"";

//Color Palate Dark:
$color-d-main:"";
$color-d-secondary:"";
$color-d-teritary:"";
$color-d-accent:"";
$color-d-emphasis:"";

//Color Palate Light:
$color-l-main:white;
$color-l-secondary:"";
$color-l-teritary:"";
$color-l-accent:rgb(58, 209, 255);//58, 209, 255         0, 113, 121
$color-l-emphasis:"";