//External imports
@font-face {
    font-family: 'Brush Script MT';
    src: url("./src/extra/brush_script.ttf") format("truetype");
 }

// Font Families
$title-font-stack:"Brush Script MT","Century Gothic",'Open Sans','Papyrus', sans-serif;
$accent-font-stack:"";
$plain-font-stack:"";

//Color Palate Dark:
$color-d-main:"";
$color-d-secondary:"";
$color-d-teritary:"";
$color-d-accent:rgb(27, 170, 218);//#1091BD
$color-d-emphasis:"";

//Color Palate Light:
$color-l-main:white;
$color-l-secondary:"";
$color-l-teritary:"";
$color-l-accent:rgb(58, 209, 255);//58, 209, 255         0, 113, 121
$color-l-emphasis:"";