.AboutMe{
    background-color: #161616;
    margin-left: 0px !important; //because bootstrap
    margin-right: 0px !important; //because bootstrap
}
.AboutMe-Photo-container{
    padding: 20px;
}

#AboutMe-c{
    padding-right:0px;
}
.AboutMe-Photo{
    border-radius: 100%;
    border: 5px solid white;
    width: 65%;
    height:auto;
    margin:auto;
    left:50%;
    top:50%;
}

.AboutMe-Quote{
    color: white;
    padding:15px;
    font-size:1em;
}

.AboutMe-BigQuotes{
    font-size: 5em;
    font-weight: 400;
}